body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans serif;
  font-weight: bold;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', Arial, sans-serif;
  color: #4aa6b5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #4aa6b5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border-color: grey;
  border-style: dotted none none none;
  width: 4%;
  border-width: 5px;
  margin: 100px auto 100px auto;
}

.top {
  background-color: powderblue;
  position: relative;
  padding: 100px;
  padding-bottom: 0;
}


.cloud1 {
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  left: 750px;
  top: 25px
}

.cloud2 {
  position: absolute;
  left: 300px
}

.mountain {
  display: inline-block;


}

.skill-row {
  margin: 100px auto 100px auto;
  width: 60%;
  text-align: left;
  font-weight: bold;
}
.basketball {
  float: left;
  margin-right: 30px;
}

.computers {
  float: right;
 margin-left: 30px;
}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 163px;
   font-size: 16px;
   font-weight: 600;
   padding: 21px;
   background-color: #33C9C9;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer-link {
  text-decoration: none;
  margin: 10px;
  color: #11999E;
}
.footer-link:hover {
  color: #eaf6f6;
}
